<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
<head th:replace="plantilla/template :: head">

</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	
	<div class="container">
		<h1>Hola desde SpringBoot</h1>
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
</body>
</html>